#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: P2.3
kick_start_time: 0.0
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.1


[temperature_fan controller]
#	Controller fan - Z board, HE1 Connector
pin: z:P2.4
kick_start_time: 0.5

min_speed: 0.0
max_power: 0.5

shutdown_speed: 0.0
kick_start_time: 0.1
off_below: 0.25
shutdown_speed: 0.0

sensor_type: NTC 100K beta 3950
sensor_pin: P0.25
min_temp: 0
max_temp: 100

target_temp: 50
control = pid

pid_kp = 15
pid_ki = 2
pid_kd = 0.1


#[fan_generic test_fan]
#pin: z:P2.4
#max_power: 1.0
#shutdown_speed: 0.0
#cycle_time: 0.05
#hardware_pwm:true
#kick_start_time:0.5
#off_below: 0.1

#   See the "fan" section for a description of the above parameters.

#[fan_generic exhaust_fan]
##	Exhaust fan - Z board, HE0 Connector
#pin: z:P2.7
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0
#cycle_time: 0.000005 

[temperature_fan chamber]
##    Exhaust fan - Z board, HE0 Connector
pin: z:P2.7
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 0.1
#cycle_time: 0.000005 
gcode_id: C
off_below: 0.25
shutdown_speed: 0.0
sensor_type: NTC 100K beta 3950
sensor_pin: P0.23
min_temp: 0
max_temp: 100
max_power: 1.0
min_speed: 0.0
target_temp: 40
control = pid
#max_delta: 2.0
pid_kp = 20
pid_ki = 2
pid_kd = 0.1
