[gcode_macro PRINT_START]
# For SuperSlicer and PrusaSlicer enter the following as start G-code: 
# print_start EXTRUDER={first_layer_temperature[initial_extruder] + extruder_temperature_offset[initial_extruder]} BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]
gcode:
  {% set EXTRUDER = params.EXTRUDER|int %}
  {% set BED = params.BED|int %}
  {% set CHAMBER = params.CHAMBER|default(0)|int %}
  {% set BEDMESH = params.BEDMESH|default(True) %}
  {% set min_x = params.MIN_X|default(0)|float %}
  {% set min_y = params.MIN_Y|default(0)|float %}
  {% set max_x = params.MAX_X|default(250)|float %}
  {% set max_y = params.MAX_Y|default(250)|float %}

  LED_RGB
  CLEAR_PAUSE
  BED_MESH_CLEAR
  # Set bed to max, to heat soak
  M140 S120
  # Set Chamber temperature
  M141 S{CHAMBER}
  M204 S4000
  G28                             ; home all axes
  #CHECK_FLEXPLATE
  G0 X125 Y253 Z30 F18000         ; move nozzle away from bed
  G0 X125 Y125 Z20 F18000
  # Preheat Nozzle
  M104 S{(EXTRUDER|float * 0.7)|round}
  #Turn Fan on, to speed up heating up and not melting the fan shroud
  M106 
  # Wait for bed corner to reach 80% of temperature
  TEMPERATURE_WAIT SENSOR="temperature_sensor heater_bed_corner" MINIMUM={(BED|float * 0.8)|round}
  M140 S{BED}
  BRUSH_NOZZLE
  ATTACH_PROBE_LOCK
  QUAD_GANTRY_LEVEL
  {% if (BEDMESH|lower) == 'true' %}
    BED_MESH_AREA MIN_X={min_x} MIN_Y={min_y} MAX_X={max_x} MAX_Y={max_y}
  {% endif %}
  DETACH_PROBE_UNLOCK
  G0 X125 Y253 Z30 F18000         ; move nozzle away from bed
  # Set and wait for nozzle to reach temperature
  M109 S{EXTRUDER}
  # Wait for chamber to reach 80% of temperature
  TEMPERATURE_WAIT SENSOR="temperature_fan chamber" MINIMUM={(CHAMBER|float * 0.8)|round}
  # Wait for bed to reach temperature
  M190 S{BED}
  M107
  BRUSH_NOZZLE
  G28 Z                          ; home Z
  CALIBRATE_Z
  G0 X125 Y250 F18000         
  _PURGE_LINE
  LED_LIGHT
  G21 ; set units to millimeters
  G90 ; use absolute coordinates
  M83 ; use relative distances for extrusion
  M900 ; reset Pressure Advance to default

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
  M400                           ; wait for buffer to clear
  G92 E0                         ; zero the extruder
  G1 E-10.0 F3600                ; retract filament
  G91                            ; relative positioning
  G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
  TURN_OFF_HEATERS
  M107                           ; turn off fan
  G1 Z2 F3000                    ; move nozzle up 2mm
  G90                            ; absolute positioning
  G0  X125 Y250 F3600            ; park nozzle at rear
  M141 S35                       ; vent until cooled down
  M900                           ; reset Pressure Advance to default


[gcode_macro _PURGE_LINE]
gcode:
  {% set START_X = params.START_X|default(5)|float %}
  {% set START_Y = params.START_Y|default(5)|float|default(5)|float %}
  {% set LENGTH = params.LENGTH|default(120)|float %}
  {% set DIRECTION = params.DIRECTION|default("X") %}
  {% set PURGE = params.PURGE|default(40)|float %}

  G92 E0;
  G90
  G0 X{START_X} Y{START_Y} F18000
  G0 Z0.4
  G91
  G1 {DIRECTION}{LENGTH} E{PURGE/2} F2200;
  G1 X1 Y1
  G1 {DIRECTION}-{LENGTH-1} E{PURGE/2} F1400;
  G1 Z3 E-0.75 F1800
  G1 E0.75 F1800
  G90
  G92 E0;
